<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon name="scan-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Stories</ion-label>
  </ion-list-header>

  <div class="scroll_box">

    <div class="storie_box" style="background-image: url(../../assets/img/back_1.jpg);background-size: cover;">
      <ion-avatar>
        <ion-img src="../../assets/img/1.png"></ion-img>
      </ion-avatar>
      <ion-badge><ion-icon name="add-outline"></ion-icon></ion-badge>
      <p>Ronaldo</p>
    </div>

    <div class="storie_box" style="background-image: url(../../assets/img/back_2.jpg);background-size: cover;">
      <ion-avatar>
        <ion-img src="../../assets/img/2.png"></ion-img>
      </ion-avatar>
      <ion-badge><ion-icon name="add-outline"></ion-icon></ion-badge>
      <p>Mojaveli</p>
    </div>

    <div class="storie_box" style="background-image: url(../../assets/img/back_3.jpg);background-size: cover;">
      <ion-avatar>
        <ion-img src="../../assets/img/3.png"></ion-img>
      </ion-avatar>
      <ion-badge><ion-icon name="add-outline"></ion-icon></ion-badge>
      <p>Himra</p>
    </div>

     <div class="storie_box" style="background-image: url(../../assets/img/back_4.jpg);background-size: cover;">
      <ion-avatar>
        <ion-img src="../../assets/img/9.png"></ion-img>
      </ion-avatar>
      <ion-badge><ion-icon name="add-outline"></ion-icon></ion-badge>
      <p>Emma</p>
    </div>

     <div class="storie_box" style="background-image: url(../../assets/img/back_5.jpg);background-size: cover;">
      <ion-avatar>
        <ion-img src="../../assets/img/5.png"></ion-img>
      </ion-avatar>
      <ion-badge><ion-icon name="add-outline"></ion-icon></ion-badge>
      <p>Beynaud</p>
    </div>

     <div class="storie_box" style="background-image: url(../../assets/img/back_6.jpg);background-size: cover;">
      <ion-avatar>
        <ion-img src="../../assets/img/7.png"></ion-img>
      </ion-avatar>
      <ion-badge><ion-icon name="add-outline"></ion-icon></ion-badge>
      <p>Suspect 95</p>
    </div>
  </div>

  <ion-list-header>
    <ion-label>Trending</ion-label>
  </ion-list-header>

  <div class="scroll_box">

    <div class="trending_box" style="background-image: url(../../assets/img/m.jpg);background-size: cover;">
      <p>85.5M</p>
    </div>

    <div class="trending_box" style="background-image: url(../../assets/img/rahim.jpg);background-size: cover;">
      <p>2.5K</p>
    </div>

    <div class="trending_box" style="background-image: url(../../assets/img/did.jpg);background-size: cover;">
      <p>80.5K</p>
    </div>

    <div class="trending_box" style="background-image: url(../../assets/img/beynaud.jpg);background-size: cover;">
      <p>100.5K</p>
    </div>
  </div>

  <ion-list-header>
    <ion-label>#Marques</ion-label>
    <ion-button color="medium" fill="solid">25.6K</ion-button>
  </ion-list-header>

  <div class="scroll_box">

    <div class="trending_box" style="background-image: url(../../assets/img/ios.jpg);background-size: cover;">
      <p>85.9M</p>
    </div>

    <div class="trending_box" style="background-image: url(../../assets/img/sam.jpg);background-size: cover;">
      <p>69.5K</p>
    </div>

    <div class="trending_box" style="background-image: url(../../assets/img/inf.jpg);background-size: cover;">
      <p>20.5K</p>
    </div>
  </div>

</ion-content>
